ffmpeg-python
transformers
accelerate
bitsandbytes
torch
assemblyai
matplotlib
torchaudio
soundfile
groq
gradio
pydub
Pillow
pandas
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
